{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center mt-5 mb-5">
    <h1>DataHarvesting Pro</h1>
</div>

<!-- Pagination Toggle Switch (applies to both forms) -->
<div class="container d-flex flex-column justify-content-center align-items-center">
  <label class="switch mb-3" title="Enable Pagination">
      <input type="checkbox" id="toggleSwitch" value="on">
      <span class="slider round"></span>
  </label>
</div>

<!-- Form for website URL scraping -->
<form action="{% url 'home' %}" method="POST" id="urlForm">
  {% csrf_token %}
  <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="input-group w-50">
          <input type="text" class="form-control" name="url" placeholder="Enter website URL..." required autocomplete="off" autocorrect="off" spellcheck="false">
          <button class="btn btn-primary" type="submit">Start Scraping</button>
      </div>
  </div>
</form>

<!-- Form for uploading Excel file -->
<form action="{% url 'home' %}" method="POST" enctype="multipart/form-data" id="fileForm" class="mt-4">
  {% csrf_token %}
  <div class="container text-center">
      <label for="excel_file" class="form-label mb-2">Upload Excel File:</label>
      <div class="d-flex justify-content-center">
          <input type="file" name="excel_file" id="excel_file" accept=".xls,.xlsx" class="form-control w-auto me-2" required>
          <button class="btn btn-primary" type="submit">Start Scraping</button>
      </div>
  </div>
</form>

{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      {% with alert_class="primary" %}
        {% if message.tags %}
          {% if message.tags == "error" %}
            {% with alert_class="danger" %}
              <div class="alert alert-{{ alert_class }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endwith %}
          {% else %}
            {% with alert_class=message.tags %}
              <div class="alert alert-{{ alert_class }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endwith %}
          {% endif %}
        {% else %}
          <div class="alert alert-{{ alert_class }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
{% endif %}

<!-- Table for displaying extracted data -->
<div class="table-responsive mt-5 container">
  <table class="table container table-bordered table-striped" id="websites-table">
    <thead class="table-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col" style="max-width: 500px;">Website URL</th>
        <th scope="col" style="min-width: 170px;">Pagination Enabled</th>
        <th scope="col" style="min-width: 170px;">Scraping Status</th>
        <th scope="col" style="min-width: 170px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if websites_data %}
        {% for entry in websites_data %}
        <tr data-website-id="{{ entry.id }}">
          <td>{{ entry.id }}</td>
          <td class="text-truncate" style="max-width: 500px; word-wrap: break-word;">
            <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">
              {{ entry.url }}
            </a>
          </td>
          <td>
            <span class="{% if entry.pagination_enabled %}text-success{% else %}text-danger{% endif %}">
              {{ entry.pagination_enabled|yesno:"Enabled,Disabled" }}
            </span>
          </td>
          <td>
            <span class="
              {% if entry.scraping_status == 'pending' %}text-warning
              {% elif entry.scraping_status == 'in_progress' %}text-primary
              {% elif entry.scraping_status == 'completed' %}text-success
              {% else %}text-secondary{% endif %}">
              {{ entry.get_scraping_status_display }}
            </span>
          </td>
          <td>
            <!-- Buttons with onclick events to show the id and button clicked in the console -->
            <button id="view-data-{{ entry.id }}" class="btn btn-primary" 
              {% if entry.scraping_status != 'completed' %}disabled{% endif %}
              onclick="showIdAndButton('{{ entry.id }}', this)">
              View Data
            </button>
          </td>
        </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="5" class="text-center">No data available</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<h2 id="domainDataHeading" class="text-center mb-2 mt-5" style="display: none;">Domain Data</h2>
<div class="mt-4 container" style="overflow-x: auto;">
  <table id="domainDataTable" class="table table-bordered table-striped" style="display: none;">
    <thead class="table-dark">
      <tr>
        <th scope="col" style="min-width: 150px;">Domain</th>
        <th scope="col" style="min-width: 250px;">Title</th>
        <th scope="col" style="min-width: 200px;">Emails</th>
        <th scope="col" style="min-width: 150px;">Phone Numbers</th>
        <th scope="col" style="min-width: 200px;">Social Media Links</th>
        <th scope="col" style="min-width: 200px;">Contact Links</th>
        <th scope="col" style="min-width: 200px;">MX Records</th>
        <th scope="col" style="min-width: 130px;">Mail Status</th>
        <th scope="col" style="min-width: 200px;">Mail Provider</th>
        <th scope="col" style="min-width: 300px;">Company Description</th>
        <th scope="col" style="min-width: 150px;">Created At</th>
        <th scope="col" style="min-width: 150px;">Updated At</th>
      </tr>
    </thead>
    <tbody id="domainDataRows">
    </tbody>
  </table>
</div>

<h2 id="scrapedDataHeading" class="text-center mt-5" style="display: none;">Scraped Data</h2>
<div class="mt-4 mb-5 overflow-auto container" style="max-height: 500px">
  <table id="scrapedDataTable" class="table table-bordered table-striped" style="display: none;">
    <thead class="table-dark">
        <tr>
            <th scope="col" style="min-width: 150px;">Name</th>
            <th scope="col" style="min-width: 150px;">Email</th>
            <th scope="col" style="min-width: 150px;">Phone</th>
            <th scope="col" style="min-width: 150px;">Designation</th>
            <th scope="col" style="min-width: 150px;">Social Link</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="tableContainer" class="container mt-4" style="display:none">
  <h2 class="mb-3">Extracted Tables</h2>
  <div id="tablesWrapper" style="overflow: auto; max-height: 500px" class="mb-5"></div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}